/* Sticky footer style and color
-------------------------------------------------- */
footer {
    padding: 20px;
    background-color: #292c2f;
    color: #bbb;
  }
  
  footer p {
    color: #999;
    text-decoration:none;
    text-align: center;
    font-size: 0.5rem;
   // border: none;
    // resize: none;
    // color: #d1d2d2;
  }
  
 
  